
.container {
	width: 85%;
	margin: auto;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

/**Tab page design*/
.tablinks ul.tab {
	list-style: none;
    padding: 0;
    margin-bottom: 7px;
}
ul.tab li{
	display: inline;
}
.tab li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 25px;
    border: 1px solid rgba(0,0,0,.2);
    background: #ba2f14;
}

ul.tab li.active a{
	color: #151414;
	background: #fff;
    padding: 9px 25px;
    border-bottom: 0;
}
.tabcon {
	width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	padding: 15px;
}
.content {
	display: none;
}


/*Accordion CSS*/
.accordians{
	overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    background: #EFEAEA;
    margin-top:  50px;
}
.accordian-section {
    box-sizing: border-box;
}
.accordian-section a {
    width: 100%;
    padding: 10px;
    display: inline-block;
	background: #ba2f14;
    border-bottom: 1px solid #9E1C03;	
	color: #fff;
	text-decoration: none;
}
.accordian-section .content {
	padding: 10px;
}


/*Media Queery for responsive container*/
@media only screen and (max-width: 768px) {
.container {
    width: 95%;
    margin: auto;
}
}
